<Type Name="Context" FullName="FlickrNet.Context">
  <TypeSignature Language="C#" Value="public class Context" />
  <AssemblyInfo>
    <AssemblyName>flickr-sharp</AssemblyName>
    <AssemblyVersion>2.0.3.28704</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Context ();" />
      <MemberType>Constructor</MemberType>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Count">
      <MemberSignature Language="C#" Value="public long Count;" />
      <MemberType>Field</MemberType>
      <ReturnValue>
        <ReturnType>System.Int64</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="NextPhoto">
      <MemberSignature Language="C#" Value="public FlickrNet.ContextPhoto NextPhoto;" />
      <MemberType>Field</MemberType>
      <ReturnValue>
        <ReturnType>FlickrNet.ContextPhoto</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="PreviousPhoto">
      <MemberSignature Language="C#" Value="public FlickrNet.ContextPhoto PreviousPhoto;" />
      <MemberType>Field</MemberType>
      <ReturnValue>
        <ReturnType>FlickrNet.ContextPhoto</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
  <Docs>
    <summary>To be added.</summary>
    <remarks>To be added.</remarks>
  </Docs>
</Type>
